<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav  me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>  

          <li class="nav-item dropdown" *ngIf="auth_serv.isLogedIn()">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Profil</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"  >Password</a></li>
              <li><a class="dropdown-item" routerLink="profil/avatar">Avatar</a></li>
            </ul>
          </li>

          <li class="nav-item" *ngIf="auth_serv.isLogedIn() && auth_serv.hasRole('admin')">
            <a class="nav-link" routerLink="admin">Dashbord</a>
          </li>  

        </ul>
          <a *ngIf="!auth_serv.isLogedIn()" routerLink="login" class="d-flex btn btn-outline-dark text-white">Connection</a>
          <a *ngIf="auth_serv.isLogedIn()" (click)="logout()" class="d-flex btn btn-outline-dark text-white">Déconnection</a>
      </div>
    </div>
  </nav>