<div class="row">
    <div class="col-6">
        <select class="form-select"
                [(ngModel)]="selectedCycleId"
                (change)="loadNiveaux(selectedCycleId!)">
          <option *ngFor="let c of cycles" [value]="c.cycle_id">{{ c.label }}</option>
        </select>
    </div>
    <div class="col-6">
        <div *ngIf="niveaux.length > 0" class="mt-3">
            <div *ngFor="let n of niveaux" class="form-check">
              <input class="form-check-input"
                     type="radio"
                     name="niveau"
                     (change)="onNiveauChange(n.niveau_id)"
                     [value]="n.niveau_id"
                     [checked]="n.niveau_id === userNiveauId">
              <label class="form-check-label">{{ n.niveau_label }}</label>
            </div>
          </div>
    </div>
</div>
<div class="row col">
  <div class="d-flex justify-content-center" *ngIf="load_cycle_niveau_bool">
    <div class="spinner-border text-dark" style="width: 20vh; height: 20vh;text-align: center;"></div>
</div>
</div>




<!-- The Modal -->
<div class="modal fade" id="cycle_niveau">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Cycle et Niveau</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            {{message}}
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        </div>
  
      </div>
    </div>
  </div>