<h3>Gestion Avatar</h3>

<div class="row">
    <div class="col-6">
        <span>jpg, jpeg, png</span><br>
        <input type="file" (change)="onFileSelected($event, authService.getUserId())" />
        <span *ngIf="load_img" style="width: 3vh; height: 3vh;" class="spinner-border text-dark"></span>
        <img *ngIf="avatar!='';else ImageUser_Par_Defaut" [src]="avatar" width="100" />
        <ng-template #ImageUser_Par_Defaut>
           <i class="bi bi-person" style="font-size: 5rem;"></i>
        </ng-template>
        
        
    </div>
    <div class="col-6">
    </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="Avatar_user">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Avatar</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            Avatar mis à jour !
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        </div>
  
      </div>
    </div>
  </div>