<form  class="w-25" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Entrer Password:</label>
      <input type="password" class="form-control" id="password1" placeholder="Enter Password" name="password1" formControlName="password1">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Répeter Password:</label>
      <input type="password" class="form-control" id="password2" placeholder="Repeter password" name="password2" formControlName="password2">
      <div *ngIf="passwordForm.errors?.['mismatch']  && passwordForm.get('password2')?.touched" class="text-danger">
        Les mots de passe ne correspondent pas.
      </div>
    </div>
    <button *ngIf="!load_update_password" class="btn btn-success">Modifier</button>
    <button class="btn btn-success" *ngIf="load_update_password">
      <span class="spinner-border spinner-border-sm"></span>
      <span>En cours de modification ....</span>
    </button>
  </form> 


  
<!-- The Modal -->
<div class="modal fade" id="password_msg">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Password</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            {{message}}
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        </div>
  
      </div>
    </div>
  </div>